<!-- Default Pricing Section -->
<div
    class="pricing-area pt-100 pb-75 dotted-bg bg-f4d9d3"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR PRICING</span>
            <h2>Working together to create the next big thing</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="pricing-tabs">
            <tabset>
                <tab heading="Monthly" id="tab1">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $15 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $29 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $79 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $115 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $129 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $179 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="shape3">
        <img src="assets/images/shape/shape3.png" alt="shape3">
    </div>
    <div class="shape4">
        <img src="assets/images/shape/shape4.png" alt="shape4">
    </div>
</div>

<!-- Pricing Section for Home Demo - 2 -->
<div
    class="pricing-area pt-100 pb-75 dotted-bg bg-f7ffe2 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR PRICING</span>
            <h2>Working together to create the next big thing</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="pricing-tabs">
            <tabset>
                <tab heading="Monthly" id="tab1">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $15 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $29 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $79 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $115 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $129 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $179 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<!-- Pricing Section for Home Demo - 3 -->
<div
    class="pricing-area pt-100 pb-75 dotted-bg d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">OUR PRICING</span>
            <h2>Working together to create the next big thing</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="pricing-tabs main-color">
            <tabset>
                <tab heading="Monthly" id="tab1">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $15 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $29 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $79 USD/<span>month</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Individual</h4>
                                    <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                                </div>
                                <div class="price">
                                    $115 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li class="inactive">Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                                <span class="popular">Popular</span>
                                <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Business</h4>
                                    <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                                </div>
                                <div class="price">
                                    $129 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li class="inactive">Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-pricing-box main-color mb-25">
                                <div class="pricing-header">
                                    <h4>Enterprise / Agency</h4>
                                    <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                                </div>
                                <div class="price">
                                    $179 USD/<span>year</span>
                                </div>
                                <a routerLink="/contact" class="default-btn">Get Started Now</a>
                                <span class="sub-title">What’s Included:</span>
                                <ul class="list-unstyled mb-0">
                                    <li>SEO Training & Support</li>
                                    <li>Reports Per Day</li>
                                    <li>Tracked Keywords</li>
                                    <li>Numbers of Locations</li>
                                    <li>Keyword Research</li>
                                    <li>Competitive Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>

<!-- Pricing Section for Home Demo - 4 -->
<div
    class="pricing-area pt-100 pb-75 dotted-bg bg-f8f8f8 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <h2>Working together to create the next big thing</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box mb-25">
                    <div class="pricing-header">
                        <h4>Individual</h4>
                        <p>Entrepreneurs & small businesses. Managing 1 website.</p>
                    </div>
                    <div class="price">
                        $15 USD/<span>month</span>
                    </div>
                    <a routerLink="/contact" class="default-btn">Get Started Now</a>
                    <span class="sub-title">What’s Included:</span>
                    <ul class="list-unstyled mb-0">
                        <li>SEO Training & Support</li>
                        <li>Reports Per Day</li>
                        <li>Tracked Keywords</li>
                        <li>Numbers of Locations</li>
                        <li class="inactive">Keyword Research</li>
                        <li class="inactive">Competitive Analysis</li>
                    </ul>
                    <span class="popular">Popular</span>
                    <img src="assets/images/shape/shape5.png" alt="shape" class="shape">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box mb-25">
                    <div class="pricing-header">
                        <h4>Business</h4>
                        <p>Entrepreneurs & small businesses. Managing 7 websites.</p>
                    </div>
                    <div class="price">
                        $29 USD/<span>month</span>
                    </div>
                    <a routerLink="/contact" class="default-btn">Get Started Now</a>
                    <span class="sub-title">What’s Included:</span>
                    <ul class="list-unstyled mb-0">
                        <li>SEO Training & Support</li>
                        <li>Reports Per Day</li>
                        <li>Tracked Keywords</li>
                        <li>Numbers of Locations</li>
                        <li>Keyword Research</li>
                        <li class="inactive">Competitive Analysis</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-pricing-box mb-25">
                    <div class="pricing-header">
                        <h4>Enterprise / Agency</h4>
                        <p>Entrepreneurs & small businesses. Managing 10+ websites.</p>
                    </div>
                    <div class="price">
                        $79 USD/<span>month</span>
                    </div>
                    <a routerLink="/contact" class="default-btn">Get Started Now</a>
                    <span class="sub-title">What’s Included:</span>
                    <ul class="list-unstyled mb-0">
                        <li>SEO Training & Support</li>
                        <li>Reports Per Day</li>
                        <li>Tracked Keywords</li>
                        <li>Numbers of Locations</li>
                        <li>Keyword Research</li>
                        <li>Competitive Analysis</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shape3">
        <img src="assets/images/shape/shape3.png" alt="shape3">
    </div>
    <div class="shape4">
        <img src="assets/images/shape/shape4.png" alt="shape4">
    </div>
</div>