<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Blog Details</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Blog Details -->
<div class="blog-details-area dotted-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="post-thumb">
                        <img src="assets/images/blog/blog8.jpg" alt="blog-details">
                    </div>
                    <div class="post-title">
                        <div class="date">
                            18
                            <span>Feb</span>
                        </div>
                        <h2>The most important tech terms you need to know</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Ipsum vitae tincidunt adipiscing sed tellus nulla sit ultrices. Arcu maecenas quam iaculis <strong>ullamcorper</strong> id posuere. Leo <u>congue</u> nulla quam pharetra. Pellentesque morbi dictumst congue risus luctus. Dictum eu maecenas ipsum dolor vel imperdiet. Euismod fermentum sed <a routerLink="/blog-details">quisque</a> risus malesuada molestie. Aliquam ut vel penatibus eu sit in egestas molestie nisl. Interdum euismod mattis euismod vulputate non.</p>
                    <p>Dictum eu maecenas ipsum dolor vel <i>imperdiet</i>. Euismod fermentum sed quisque risus malesuada molestie. Aliquam ut vel penatibus eu sit in egestas molestie nisl. Interdum euismod mattis euismod vulputate non scelerisque.</p>
                    <div class="row justify-content-center align-items-center mt-25">
                        <div class="col-4">
                            <div class="mb-25 text-center">
                                <img src="assets/images/blog/blog-details1.jpg" alt="blog-details">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="mb-25 text-center">
                                <img src="assets/images/blog/blog-details2.jpg" alt="blog-details">
                            </div>
                            <div class="mb-25 text-center">
                                <img src="assets/images/blog/blog-details3.jpg" alt="blog-details">
                            </div>
                        </div>
                    </div>
                    <p>Dictum eu maecenas ipsum dolor vel imperdiet. Euismod fermentum sed quisque risus malesuada molestie. Aliquam ut vel penatibus eu sit in egestas molestie nisl. Interdum euismod mattis euismod vulputate non scelerisque.</p>
                    <blockquote class="wp-block-quote">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </blockquote>
                    <p>Lorem ipsum dolor sit amet consectetur. Ipsum vitae tincidunt adipiscing sed tellus nulla sit ultrices. Arcu maecenas quam iaculis ullamcorper id posuere. Leo congue nulla quam pharetra. Pellentesque morbi dictumst congue risus luctus. Dictum eu maecenas ipsum dolor vel imperdiet. Euismod fermentum sed quisque risus malesuada molestie. Aliquam ut vel penatibus eu sit in egestas molestie nisl. Interdum euismod mattis euismod vulputate non.</p>
                    <h4>The rise of marketing and why you need it</h4>
                    <p>Dictum eu maecenas ipsum dolor vel imperdiet. Euismod fermentum sed quisque risus malesuada molestie. Aliquam ut vel penatibus eu sit in egestas molestie nisl. Interdum euismod mattis euismod vulputate non scelerisque.</p>
                    <div class="post-footer">
                        <div class="post-tag">
                            <a routerLink="/blog-grid"><i class="flaticon-price-tag-1"></i> Development</a>
                        </div>
                        <div class="post-share">
                            <ul class="social-links">
                                <li><span>Share:</span></li>
                                <li>
                                    <a href="#" class="facebook" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="instagram" target="_blank">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-nav d-flex align-items-center justify-content-between">
                        <a routerLink="/blog-details">
                            <i class="flaticon-left-arrow-1"></i>
                            Previous Post
                        </a>
                        <a routerLink="/blog-details">
                            <i class="flaticon-right-arrow-1"></i>
                            Next Post
                        </a>
                    </div>
                </div>
                <div class="comment-respond">
                    <h3>Post A Comment</h3>
                    <form>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea class="form-control" cols="30" rows="5" placeholder="Your comment"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Website">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="checkme">
                                    <label class="form-check-label" for="checkme">
                                        Save my name, email, and website in this browser for the next time I comment.
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button type="submit" class="default-btn">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <app-widget-sidebar></app-widget-sidebar>
            </div>
        </div>
    </div>
</div>