<div class="expertise-area pb-100 dotted-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="expertise-image">
                    <img src="assets/images/expertise.jpg" alt="expertise-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="expertise-content">
                    <span class="sub-title">OUR EXPERTISE</span>
                    <h2>Give us an idea that people want to spend time with</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget.</p>
                    <ul class="features-list">
                        <li>
                            <div class="icon">
                                <i class="flaticon-boost"></i>
                            </div>
                            <h4>Boost Your Sale</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie.</p>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-business-idea"></i>
                            </div>
                            <h4>Idea & Analysis</h4>
                            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>