<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Web Branding</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Service Details</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Service Details -->
<div class="service-details-area pt-100 pb-75 dotted-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="service-details-sidebar">
                    <ul>
                        <li><a routerLink="/service-details" class="active">Brand Identity Design</a></li>
<!--                        <li><a routerLink="/service-details">Digital Marketing</a></li>-->
                        <li><a routerLink="/service-details">IT Consulting Service</a></li>
                        <li><a routerLink="/service-details">Web Development</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="service-details-desc">
                    <div class="image">
                        <img src="assets/images//services/service-details.jpg" alt="service-details">
                    </div>
                    <h2>Brand Identity Design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. <a routerLink="/service-details">Pulvinar</a> quam commodo nisl suspendisse auctor gravida mauris. A quis quis amet aliquam tristique sit urna. Diam porttitor sapien lobortis nunc dignissim id adipiscing lacinia mattis. <strong>Pellentesque</strong> imperdiet ut id consequat elit urna. Neque feugiat nunc sit ultrices. Leo amet luctus elemenm donecgrcc purus. Dui <i>ultrices gravida</i> in vitae porta justo. In suscipit <u>scelerisque</u> condimentum consequat.</p>
                    <p>Sodales nisi scelerisque mollis ut <strong>malesuada</strong> hendrerit sem elit lacinia. Penatibus molestie tempor odio aliquam aliquet metus duis rhoncus dolor. Nec in <i>fermentum</i> gravida posuere. Ut lobortis commodo faucibus tincidunt nascetur urna. Nunc quis consectetur elit nisi nec convallis convallis et.</p>
                    <p>Sed pharetra pulvinar magna posuere. Ornare nisi nulla est cursus. Vitae suspendisse amet massa orci quis donec nulla. Est porttitor eget lectus nunc amet morbi nunc nisl proin. Ornare dui ac in amet. Gravida tincidunt feugiat phasellus habitant. Tincidunt mi ac.</p>
                    <div class="row align-items-center mt-25">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Centralized database</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Real-time integration</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Secure server system</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Rapid deployment</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Rich dashboards</h5>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="icon-box mb-25">
                                <i class="flaticon-check-mark-1"></i>
                                <h5 class="mb-0 mt-0">Time & cost reduction</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-10">
                        <div class="col-6">
                            <div class="mb-25 text-center">
                                <img src="assets/images/services/service-details2.jpg" alt="service-details">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-25 text-center">
                                <img src="assets/images/services/service-details3.jpg" alt="service-details">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-25 text-center">
                                <img src="assets/images/services/service-details4.jpg" alt="service-details">
                            </div>
                        </div>
                    </div>
                    <p>Sodales nisi scelerisque mollis ut malesuada hendrerit sem elit lacinia. Penatibus molestie tempor odio aliquam aliquet metus duis rhoncus dolor. Nec in fermentum gravida posuere. Ut lobortis commodo faucibus tincidunt nascetur urna. Nunc quis consectetur elit nisi nec convallis convallis et.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-funfacts></app-funfacts>
