<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Forgot Password</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Forgot Password</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Profile Authentication -->
<div class="profile-authentication-area ptb-100">
    <div class="container">
        <div class="forgot-password-box">
            <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
            <form>
                <label>Username or email</label>
                <input type="text" class="form-control">
                <button type="submit" class="default-btn">Reset Password</button>
            </form>
        </div>
    </div>
</div>