<div
    class="team-area dotted-bg pb-75 section-border"
    [ngClass]="{'d-none': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">OUR CORE</span>
            <h2>here is what we believe on</h2>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team-card text-center mb-25">
                        <div class="icon">
                            <i class="flaticon-boost"></i>
                        </div>
                        <div class="team-caption">
                            <h6>Innovation</h6>
                            <p>We leverage cutting-edge technologies and creative solutions to drive your digital evolution.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team-card text-center mb-25">
                        <div class="icon">
                            <i class="flaticon-business-idea"></i>
                        </div>
                        <div class="team-caption">
                            <h6>Excellence</h6>
                            <p>Our commitment to quality is unmatched, striving for perfection in every project to deliver only the best.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="team-card text-center mb-25">
                        <div class="icon">
                            <i class="flaticon-user-3"></i>
                        </div>
                        <div class="team-caption">
                            <h6>Integrity</h6>
                            <p>We operate with complete honesty, respect, and ethical practices, ensuring transparency in all our dealings.</p>
                        </div>
                    </div>
                </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="team-card text-center mb-25">
                    <div class="icon">
                        <i class="flaticon-good-feedback"></i>
                    </div>
                    <div class="team-caption">
                        <h6>Client-Centricity</h6>
                        <p>Your needs are at the heart of our operations. We customize our solutions to meet your unique business objectives.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="team-card text-center mb-25">
                    <div class="icon">
                        <i class="flaticon-education"></i>
                    </div>
                    <div class="team-caption">
                        <h6>Learner-Attitude</h6>
                        <p>We are perpetual learners, embracing humility, continuous improvement, and growth in the fast-evolving digital landscape.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="view-all-btn text-center">
            <a routerLink="/contact" class="second-default-btn mt-5">READY TO TALK? <i class="flaticon-right-up"></i></a>
        </div>
    </div>
</div>
