<div class="business-card-container">
    <h1 class="logo mt-25">A.</h1>
    <div class="cont-divider p-5">
        <a (click)="goToHomepage()"><i class="flaticon-world-wide-web"></i><span>www.inizia.agency</span></a>
        <a (click)="sendEmail()"><i class="flaticon-email-2"></i><span>hello&#64;inizia.com</span></a>
        <a (click)="callPhone()"><i class="flaticon-telephone"></i><span>+61 450-812-952</span></a>
        <a (click)="openInstagram()"><i class="flaticon-instagram"></i><span>&#64;inizia.agency</span></a>
        <a (click)="openLinkedIn()"><i class="flaticon-linkedin"></i><span>&#64;inizia.agency</span></a>
    </div>
    <h5 class="logo-full">Inizia.</h5>
    <p class="slogan">YOUR DIGITAL PARTNER</p>
    <div class="vertical-stripes pt-4">
        <div class="red"></div>
        <div class="grey"></div>
        <div class="green"></div>
        <div class="grey"></div>
        <div class="blue"></div>
    </div>
</div>
