<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>About Us</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<app-about></app-about>
<app-values></app-values>
<app-why-us></app-why-us>
<app-whats-next></app-whats-next>
