<div
    class="partner-area bg-beige partner-border"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="carousel-container">
        <div class="carousel-track">
            <div class="carousel-slide" *ngFor="let partner of partners">
                <img [src]="partner.img" [alt]="partner.alt" class="partner-image">
            </div>
            <div class="carousel-slide" *ngFor="let partner of partners">
                <img [src]="partner.img" [alt]="partner.alt" class="partner-image">
            </div>
        </div>
    </div>

</div>
