<div
    class="team-area dotted-bg pb-75"
    [ngClass]="{'d-none': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title main-color">OUR STORY</span>
            <h2>the story behind inizia</h2>
      </div>
        <div class="container">
            <div class="row justify-content-center">
                <p>Inizia sprang to life from a simple, powerful idea sparked by our founder’s own experiences. As a software engineer, she spent years in a traditional software agency where she often felt boxed in, working on just one slice of the bigger digital puzzle. It struck her how decisions were made without considering the full digital pathway—design, software, and marketing all need to talk to each other to truly shine. But there, in the world of isolated services, opportunities to truly help clients were slipping through the cracks.
                    Frustrated by the limitations of not being able to reach across the aisle to the design or marketing teams, she decided it was time for a change. Why not build an agency where these services aren’t just neighbors, but roommates? An agency where teamwork isn’t just encouraged, it’s the norm.
                    That’s how Inizia came to be—your go-to place for integrated digital solutions where everything is connected, just like in the real world. We’re here to make sure that when you think about taking your business to the next level, you’ve got a partner who sees the whole picture. Swing by, grab a coffee, and let’s chat about how we can help you make your next big digital leap.</p>
            </div>
            <div class="view-all-btn text-center">
                <a routerLink="/contact" class="default-btn mt-5">LET'S WORK TOGETHER <i class="flaticon-right-up"></i></a>
            </div>
        </div>
    </div>
</div>
