<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Project Details</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Project Details</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Project Details -->
<div class="project-details-area pt-100 pb-75 dotted-bg">
    <div class="container">
        <div class="project-details-image">
            <img src="assets/images/projects/project-details.jpg" alt="project-image">
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 order-2 order-lg-1">
                <div class="project-details-desc">
                    <h2>Design & Development Project</h2>
                    <p>Lorem ipsum dolor sit amet consectetur. Dolor neque turpis augue gravida tortor faucibus. Dignissim mauris pharetra eu neque. Adipiscing <strong>gravida</strong> cras ut nisi adipiscing etiam faucibus auctor. Quis mi egestas lorem quis habitant. Et aliquam eu elit malesuada. Mauris lorem felis diam est tristique viverra. Ante est cras cras quam <a routerLink="/project-details">euismod</a> sagittis congue vulputate etiam. Consectetur eget posuere orci vehicula viverra. Purus ac massa at tortor elit sodales. Pellentesque duis tortor mattis vitae tortor enim elit turpis.</p>
                    <p>Lorem ipsum dolor sit amet <u>consectetur</u>. Dolor neque turpis augue gravida tortor faucibus. Dignissim mauris pharetra eu neque. Adipiscing gravida cras ut nisi adipiscing etiam faucibus auctor. Quis mi egestas lorem quis habitant. Et aliquam eu elit <i>malesuada</i>. Mauris lorem felis diam est tristique viverra ante est.</p>
                    <div class="icon-card mt-25 mb-25">
                        <i class="flaticon-bars"></i>
                        <h4>Business Growth</h4>
                        <p>Neque et ante tellus nisl. A nisl eu at nulla ultrices. Dolor urna vitae ut turpis. Arcu volutpat nec mi commodo quis nec vestibulum. Semper egestas tellus fames cras ac.</p>
                    </div>
                    <div class="icon-card mb-25">
                        <i class="flaticon-web-optimization"></i>
                        <h4>Manage Tech Services</h4>
                        <p>Neque et ante tellus nisl. A nisl eu at nulla ultrices. Dolor urna vitae ut turpis. Arcu volutpat nec mi commodo quis nec vestibulum. Semper egestas tellus fames cras ac.</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur. Dolor neque turpis augue gravida tortor faucibus. Dignissim mauris pharetra eu neque. Adipiscing gravida cras ut nisi adipiscing etiam faucibus auctor. Quis mi egestas lorem quis habitant. Et aliquam eu elit malesuada. Mauris lorem felis diam est tristique viverra. Ante est.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 order-1 order-lg-2">
                <div class="project-details-sidebar">
                    <div class="project-info">
                        <h4>Project Information</h4>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <span>Category:</span>
                                EnvyTheme
                            </li>
                            <li>
                                <span>Client:</span>
                                Digital Agnecy
                            </li>
                            <li>
                                <span>Website:</span>
                                <a href="https://envytheme.com/" target="_blank">EnvyTheme.com</a>
                            </li>
                            <li>
                                <span>Date:</span>
                                05 February, 2024
                            </li>
                            <li>
                                <span>Follow us:</span>
                                <ul class="social-links list-unstyled mb-0">
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-facebook-app-symbol"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="flaticon-linkedin"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="project-contact-info">
                        <h4>Let's Make Something Amazing Together!</h4>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="tel:+2414524526">
                                    <i class="bx bx-phone-call"></i>
                                    +241 452 4526
                                </a>
                            </li>
                            <li>
                                <a href="mailto:hello&#64;loxi.com">
                                    <i class="bx bx-envelope"></i>
                                    hello&#64;loxi.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- More Projects -->
<div class="projects-area pb-75 dotted-bg">
    <div class="container">
        <div class="section-title text-start mw-100">
            <h2>More portfolio</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single-project-box mb-25">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project9.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Digital Marketing</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-project-box mb-25">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project12.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Illustrator Graphics</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>