<!-- Default Funfacts Section -->
<div
    class="funfacts-area pt-100 pb-75 bg-black"
    [ngClass]="{'d-none': router.url === '/index-3'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>1500+</h2>
                    <span>Completed Projects</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>700+</h2>
                    <span>Happy Clients</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>1275+</h2>
                    <span>Positive Reviews</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="single-funfact-box text-center mb-25">
                    <h2>250+</h2>
                    <span>Awards Won</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<!-- Funfacts Section for Home Demo - 3 -->
<div
    class="funfacts-area dotted-bg d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="funfacts-inner-box bg-black">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-3 col-6">
                    <div class="single-funfact-box text-center mb-25">
                        <h2>1500+</h2>
                        <span>Completed Projects</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-6">
                    <div class="single-funfact-box text-center mb-25">
                        <h2>700+</h2>
                        <span>Happy Clients</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-6">
                    <div class="single-funfact-box text-center mb-25">
                        <h2>1275+</h2>
                        <span>Positive Reviews</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-6">
                    <div class="single-funfact-box text-center mb-25">
                        <h2>250+</h2>
                        <span>Awards Won</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>