<!-- Default Features Section -->
<div
    class="features-area pt-100 pb-75 dotted-bg bg-fbecd7"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">TOP FEATURES</span>
            <h2>Best agencies choose their clients wisely</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-box"></i>
                    </div>
                    <h4><a routerLink="/service-details">Product Engineering</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4><a routerLink="/service-details">UX/UI Design</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-data-analysis"></i>
                    </div>
                    <h4><a routerLink="/service-details">Big Data & Analytics</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 2 -->
<div
    class="features-area pb-75 dotted-bg bg-fbecd7 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">TOP FEATURES</span>
            <h2>Best agencies choose their clients wisely</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-box"></i>
                    </div>
                    <h4><a routerLink="/service-details">Product Engineering</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4><a routerLink="/service-details">UX/UI Design</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-item mb-25">
                    <div class="icon">
                        <i class="flaticon-data-analysis"></i>
                    </div>
                    <h4><a routerLink="/service-details">Big Data & Analytics</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 3 -->
<div
    class="features-area bg-color dotted-bg d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="features-inner-box bg-black pt-100 pb-75">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="feature-box mb-25">
                        <div class="icon">
                            <i class="flaticon-box"></i>
                        </div>
                        <h4><a routerLink="/service-details">Product Engineering</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                        <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="feature-box mb-25">
                        <div class="icon">
                            <i class="flaticon-ux-design"></i>
                        </div>
                        <h4><a routerLink="/service-details">UX/UI Design</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                        <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="feature-box mb-25">
                        <div class="icon">
                            <i class="flaticon-data-analysis"></i>
                        </div>
                        <h4><a routerLink="/service-details">Big Data & Analytics</a></h4>
                        <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                        <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features Section for Home Demo - 4 -->
<div
    class="features-area pt-100 pb-75 dotted-bg d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <h2>Best agencies choose their clients wisely</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-box"></i>
                    </div>
                    <h4><a routerLink="/service-details">Product Engineering</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4><a routerLink="/service-details">UX/UI Design</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-data-analysis"></i>
                    </div>
                    <h4><a routerLink="/service-details">Big Data & Analytics</a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                    <a routerLink="/service-details" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>