<div
    class="features-area pt-100 pb-75 dotted-bg bg-fbecd7"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">TOP FEATURES</span>
            <h2>What make us unique</h2>
            <p>The truth is, many people can code, design, or run ads. But we do things differently by caring. We always go the extra mile and answer your questions because we are the type of agency that genuinely cares about your business, your ideas, and your success.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-coding-1"></i>
                    </div>
                    <h4><a routerLink="/about">We Genuinely Want to Help</a></h4>
                    <p>At Inizia, our primary goal is to see your business thrive. We are dedicated to providing client-centric support and solutions that address your unique challenges and aspirations.</p>
                    <a routerLink="/about" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4><a routerLink="/about">We listen first</a></h4>
                    <p> We believe that the foundation of a successful project is understanding your needs. Our team prioritizes active listening, ensuring we fully grasp your vision, goals, and concerns.</p>
                    <a routerLink="/about" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feature-box mb-25">
                    <div class="icon">
                        <i class="flaticon-data-analysis"></i>
                    </div>
                    <h4><a routerLink="/about">We Strive for Win-Win</a></h4>
                    <p>We strive for win-win scenarios, ensuring success for both you and our team. We build long-term partnerships based on trust, collaboration, and shared goals. We support your growth and prosperity.</p>
                    <a routerLink="/about" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
