<div class="business-card-container">
    <img src="assets/inizia_logo-nobg.png" alt="Inizia logo" style="height: 15vh">
    <div class="cont-divider">
        <div class="mt-3">

            <app-gcal-button label="Secure a 30-min session with us" brandClass="default-btn"></app-gcal-button>
            <a (click)="goToHomepage()"><i class="flaticon-website-1"></i><span>www.inizia.agency</span></a>
            <a (click)="sendEmail()"><i class="flaticon-email-2"></i><span>hello&#64;inizia.agency</span></a>
            <a (click)="callPhone()"><i class="flaticon-telephone"></i><span>+61 420 400 110</span></a>

            <a (click)="openLinkedIn()"><i class="flaticon-linkedin"></i><span>&#64;inizia-agency</span></a>
            <a (click)="openInstagram()"><i class="flaticon-instagram"></i><span>&#64;inizia.agency</span></a>
            <a (click)="openFacebook()"><i class="flaticon-facebook"></i><span>&#64;inizia.agency</span></a>
            <a (click)="openMediumBlog()" class="medium-link">
                <img src="assets/images/blog/medium.png" alt="Medium Blog" class="medium-icon">
                <span>&#64;inizia</span>
            </a>
            <a routerLink="/faq"><i class="flaticon-comment"></i><span>FAQs</span></a>
        </div>
        <div class="m-2 pt-3">
            <h5 class="logo-full">Inizia.</h5>
            <p class="slogan">YOUR TECH PARTNER</p>
        </div>
    </div>
    <div class="vertical-stripes pt-4">
        <div class="red"></div>
        <div class="grey"></div>
        <div class="green"></div>
        <div class="grey"></div>
        <div class="blue"></div>
    </div>
</div>
