<div class="main-banner-area">
    <div class="container-fluid">
        <div class="main-banner-content">
            <span class="sub-title">START-UP AGENCY</span>
            <h1>Welcome to <span class="inizia-heading">Inizia.</span> </h1>
<!--            <p>Products people want. Clarity founders need.</p>-->
            <p>We build products people want, for business owners stepping into tech.</p>
            <a routerLink="/about" class="third-default-btn">Discover More <i class="flaticon-right-up"></i></a>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>
