<aside class="widget-area">
    <div class="widget widget_search">
        <form>
            <input type="search" class="search-field" placeholder="Search keyword">
            <button type="submit"><i class="flaticon-search"></i></button>
        </form>
    </div>
    <div class="widget widget_loxi_posts_thumb">
        <h3 class="widget-title">Latest Posts</h3>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blog/blog1.jpg" alt="blog-image">
            </a>
            <div class="info">
                <span class="date">Feb 10, 2024</span>
                <h4 class="title"><a routerLink="/blog-details">Standard operating procedures (SOP) changes with an LMS</a></h4>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blog/blog2.jpg" alt="blog-image">
            </a>
            <div class="info">
                <span class="date">Feb 09, 2024</span>
                <h4 class="title"><a routerLink="/blog-details">Questions to ask vendors before choosing an LMS platform</a></h4>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blog/blog3.jpg" alt="blog-image">
            </a>
            <div class="info">
                <span class="date">Feb 08, 2024</span>
                <h4 class="title"><a routerLink="/blog-details">In person, virtual or hybrid: helpful tools for back to school</a></h4>
            </div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <img src="assets/images/blog/blog4.jpg" alt="blog-image">
            </a>
            <div class="info">
                <span class="date">Feb 07, 2024</span>
                <h4 class="title"><a routerLink="/blog-details">Corporate online learning trends you still need to implement</a></h4>
            </div>
        </article>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li><a routerLink="/blog-grid">Web Design <span class="count">(05)</span></a></li>
            <li><a routerLink="/blog-grid">Branding <span class="count">(14)</span></a></li>
            <li><a routerLink="/blog-grid">Digital Art <span class="count">(03)</span></a></li>
            <li><a routerLink="/blog-grid">Graphics <span class="count">(12)</span></a></li>
            <li><a routerLink="/blog-grid">Marketing <span class="count">(25)</span></a></li>
        </ul>
    </div>
    <div class="widget widget_follow_us">
        <h3 class="widget-title">Follow Us</h3>
        <ul>
            <li><a href="#" target="_blank">Facebook</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">Instagram</a></li>
            <li><a href="#" target="_blank">Pinterest</a></li>
            <li><a href="#" target="_blank">Linkedin</a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a routerLink="/blog-grid">Affiliate</a>
            <a routerLink="/blog-grid">Motions Graphics</a>
            <a routerLink="/blog-grid">Digital</a>
            <a routerLink="/blog-grid">Product Landing</a>
            <a routerLink="/blog-grid">Company Branding</a>
        </div>
    </div>
</aside>