<div class="banner-wrapper-area dotted-bg bg-ffe6e3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <span class="sub-title">DIGITAL AGENCY</span>
                    <h1>Let’s make the impossible possible</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie. Eget porta diam sit fames.</p>
                    <a routerLink="/about" class="default-btn">Discover More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-image text-center">
                    <img src="assets/images/banner/banner4.jpg" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
    <div class="shape8"><img src="assets/images/shape/shape8.png" alt="shape8"></div>
    <div class="shape9"><img src="assets/images/shape/shape9.png" alt="shape9"></div>
    <div class="shape10"><img src="assets/images/shape/shape10.png" alt="shape10"></div>
</div>