<div class="banner-area dotted-bg bg-f7ffe2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <span class="sub-title">CREATIVE AGENCY</span>
                    <h1>We are here to connect creativity with dreams</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie. Eget porta diam sit fames. Suspendissesss consequat placerat aenean aenean lobortis.</p>
                    <a routerLink="/about" class="default-btn">Discover More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image text-center">
                    <img src="assets/images/banner/banner3.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>