<div class="main-banner-area">
    <div class="container-fluid">
        <div class="main-banner-content">
            <span class="sub-title">CREATIVE AGENCY</span>
            <h1>Give your business a worldwide platform</h1>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie. Eget porta diam sit fames. Suspendisse consequat placerat aenean aenean.</p>
            <a routerLink="/about" class="default-btn">Discover More <i class="flaticon-right-up"></i></a>
        </div>
        <div class="main-banner-image text-center one">
            <img src="assets/images/banner/banner1.png" alt="banner-image">
        </div>
        <div class="main-banner-image text-center two">
            <img src="assets/images/banner/banner2.png" alt="banner-image">
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>