<!-- Default Footer -->
<div
    class="footer-area pt-100 pb-75 bg-black"
    [ngClass]="{'d-none': router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/white-logo.png" alt="logo">
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur. Sed amet eget gravida nec tortor.</p>
                    <ul class="social-links list-unstyled mb-0">
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-twitter-1"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-instagram-1"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-linkedin-1"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25 ps-xl-5">
                    <h4>Quick Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/projects">Projects</a></li>
                        <li><a routerLink="/blog-grid">Blog</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Important Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/pricing">Pricing</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/services">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Get In Touch</h4>
                    <ul class="footer-contact-info">
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:hello&#64;loxi.com">hello&#64;loxi.com</a>
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+2414524526">+241 452 4526</a>
                        </li>
                        <li>
                            <i class="bx bx-map"></i>
                            2750 Quadra Street Victoria Road, New York, USA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Home Demo - 3 -->
<div
    class="footer-area d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container-fluid">
        <div class="bg-black pt-100 pb-75">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget mb-25">
                            <a routerLink="/" class="logo d-inline-block">
                                <img src="assets/images/white-logo.png" alt="logo">
                            </a>
                            <p>Lorem ipsum dolor sit amet consectetur. Sed amet eget gravida nec tortor.</p>
                            <ul class="social-links list-unstyled mb-0">
                                <li>
                                    <a href="#" target="_blank"><i class="flaticon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="flaticon-twitter-1"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="flaticon-instagram-1"></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="flaticon-linkedin-1"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget mb-25 ps-xl-5">
                            <h4>Quick Links</h4>
                            <ul class="custom-links">
                                <li><a routerLink="/">Home</a></li>
                                <li><a routerLink="/projects">Projects</a></li>
                                <li><a routerLink="/blog-grid">Blog</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget mb-25">
                            <h4>Important Links</h4>
                            <ul class="custom-links">
                                <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                                <li><a routerLink="/pricing">Pricing</a></li>
                                <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                                <li><a routerLink="/services">Services</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6">
                        <div class="single-footer-widget mb-25">
                            <h4>Get In Touch</h4>
                            <ul class="footer-contact-info">
                                <li>
                                    <i class="bx bx-envelope"></i>
                                    <a href="mailto:hello&#64;loxi.com">hello&#64;loxi.com</a>
                                </li>
                                <li>
                                    <i class="bx bx-phone-call"></i>
                                    <a href="tel:+2414524526">+241 452 4526</a>
                                </li>
                                <li>
                                    <i class="bx bx-map"></i>
                                    2750 Quadra Street Victoria Road, New York, USA
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer Home Demo - 3 -->
<div
    class="footer-area pt-100 pb-75 dotted-bg bg-f8f8f8 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <a routerLink="/" class="logo d-inline-block">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                    <p>Lorem ipsum dolor sit amet consectetur. Sed amet eget gravida nec tortor.</p>
                    <ul class="social-links list-unstyled mb-0">
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-twitter-1"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-instagram-1"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="flaticon-linkedin-1"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25 ps-xl-5">
                    <h4>Quick Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/projects">Projects</a></li>
                        <li><a routerLink="/blog-grid">Blog</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Important Links</h4>
                    <ul class="custom-links">
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/pricing">Pricing</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/services">Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget mb-25">
                    <h4>Get In Touch</h4>
                    <ul class="footer-contact-info">
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:hello&#64;loxi.com">hello&#64;loxi.com</a>
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="tel:+2414524526">+241 452 4526</a>
                        </li>
                        <li>
                            <i class="bx bx-map"></i>
                            2750 Quadra Street Victoria Road, New York, USA
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="copyright-area text-center">
    <div class="container">
        <p>© Loxi is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
    </div>
</div>