<div class="faq-area  pb-100 dotted-bg">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">FAQs</span>
            <h2>Let's clear out those doubts</h2>
        </div>
        <div class="faq-accordion">
            <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
                <accordion-group heading="How long does it take to develop a mobile app?" [isOpen]="isFirstOpen">
                    <p>The development timeline can range from a few months to over a year, depending on the app's complexity, the number of features, and the development methodology. An average app takes around 3-6 months from initial concept to deployment.</p>
                </accordion-group>
                <accordion-group heading="What are the key benefits of having a mobile app for my business?">
                    <p>A mobile app can enhance customer engagement, provide valuable insights through analytics, improve customer service, and offer new revenue streams through in-app purchases or subscriptions.</p>
                </accordion-group>
                <accordion-group heading="What is the typical cost of developing a mobile app?">
                    <p>The cost of developing a mobile app can vary widely depending on the complexity, features, and platform (iOS, Android, or both). Typically, it can range from $10,000 for a basic app to over $100,000 for a more complex app with advanced features.</p>
                </accordion-group>
                <accordion-group heading="How long does it take to build a new website?">
                    <p>The time required to build a new website can vary depending on the complexity, features, and the level of customization required. Typically, a simple website might take 6-12 weeks to develop, while more complex projects could take several months. The timeline is also influenced by the client's responsiveness and the availability of content.</p>
                </accordion-group>
                <accordion-group heading="Will my website be mobile-friendly?">
                    <p>Yes, all the websites we develop are mobile-friendly. We ensure that your website looks and functions well on all devices, including smartphones, tablets, and desktops. This involves creating responsive designs that adjust to different screen sizes and orientations.</p>
                </accordion-group>
                <accordion-group heading="What is the difference between custom website development, CMS, and website builders?">
                    <p>Custom Website Development: Offers maximum flexibility and scalability, allowing for tailored features and design.
                        CMS (Content Management System): Balances ease of use and customization. Platforms like WordPress and Joomla enable content management without extensive technical knowledge.
                        Website Builders: Ideal for quick, simple, and cost-effective websites. Platforms like Wix and Squarespace offer drag-and-drop interfaces but have limited customization options.</p>
                </accordion-group>
                <accordion-group heading="Do you enhance existing websites? And how do I know it's time to upgrade my existing website?">
                    <p>Yes, we enhance existing websites by improving design, functionality, performance, and security. It's time to upgrade if your website has an outdated design, slow loading times, low user engagement, security vulnerabilities, isn't mobile-friendly, or has poor SEO performance. Upgrading can improve user experience, engagement, and search engine rankings.</p>
                </accordion-group>
                <accordion-group heading="How do you ensure that the design aligns with my brand?">
                    <p>We start with a thorough understanding of your brand values, target audience, and design preferences. We then create multiple design concepts and iterate based on your feedback to ensure the final design aligns perfectly with your brand.</p>
                </accordion-group>
                <accordion-group heading="What is the difference between UI and UX design?">
                    <p>UI (User Interface) design focuses on the visual aspects of a product, such as layout, colors, and typography. UX (User Experience) design, on the other hand, is about the overall feel of the experience, ensuring that the product is intuitive and user-friendly.</p>
                </accordion-group>
                <accordion-group heading="Can you redesign an existing app or website?">
                    <p>Yes, we can help improve the usability and aesthetic appeal of your existing app or website by conducting a UX audit and implementing design changes based on best practices and user feedback.</p>
                </accordion-group>
                <accordion-group heading="What is involved in setting up a domain and email?">
                    <p>Setting up a domain involves registering the domain name, configuring DNS settings, and ensuring it points to your website. Email setup includes creating email accounts, configuring email clients, and setting up spam filters and security measures.</p>
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>
