.partner-area {
    padding: {
        top: 3vh;
        bottom: 3vh;
    };
    border-top: 1px solid var(--blackColor);
    border-bottom: 1px solid var(--blackColor);
    .col {
        flex: 0 0 auto;
        width: 14.2857142857%;
    }
    .partner-inner-box {
        border-radius: 7px;
        padding: {
            top: 3vh;
            bottom: 3vh;
            left: 15px;
            right: 15px;
        };
        .col {
            flex: 0 0 auto;
            width: 20%;
        }
    }

    &.style-two {
        padding: {
            top: 3vh;
            bottom: 3vh;
        };
        .container-fluid {
            padding: {
                left: 30px;
                right: 30px;
            };
        }
    }
}
.d-none {
    &.d-block {
        display: block !important;
    }
    &.d-flex {
        display: flex !important;
    }
}
/* continuous-carousel.component.css */
.carousel-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.carousel-track {
    display: flex;
    align-items: center;
    animation: scroll 20s linear infinite;
}

.carousel-slide {
    flex: 0 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.partner-image {
    padding-left: 6%;
    padding-right: 6%;
    max-height: 10vh;
    max-width: 10vw;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Max width 767px */
@media only screen and (max-width : 767px) {

    .partner-area {
        padding: {
            top: 3vh;
            bottom: 3vh;
        };
        border-top: 1px solid var(--blackColor);
        border-bottom: 1px solid var(--blackColor);
        .col {
            flex: 0 0 auto;
            width: 33.333333%;
        }
        .partner-inner-box {
            border-radius: 5px;
            padding: {
                top: 3vh;
                bottom: 3vh;
            };
            .col {
                flex: 0 0 auto;
                width: 33.333333%;
            }
        }
        &.style-two {
            padding: {
                top: 60px;
                bottom: 35px;
            };
            .container-fluid {
                padding: {
                    left: calc(var(--bs-gutter-x) * 0.5);
                    right: calc(var(--bs-gutter-x) * 0.5);
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .partner-area {
        .col {
            width: 25%;
        }
        &.style-two {
            .container-fluid {
                max-width: 540px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .partner-area {
        padding: {
            top: 3vh;
            bottom: 3vh;
        };
        .col {
            flex: 0 0 auto;
            width: 20%;
        }
        .partner-inner-box {
            padding: {
                top: 3vh;
                bottom: 3vh;
            };
            .col {
                width: 25%;
            }
        }
        &.style-two {
            padding: {
                top: 3vh;
                bottom: 3vh;
            };
            .container-fluid {
                max-width: 720px;
                padding: {
                    left: calc(var(--bs-gutter-x) * 0.5);
                    right: calc(var(--bs-gutter-x) * 0.5);
                };
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .partner-area {
        padding: {
            top: 3vh;
            bottom: 3vh;
        };
        &.style-two {
            .container-fluid {
                max-width: 960px;
                padding: {
                    left: calc(var(--bs-gutter-x) * 0.5);
                    right: calc(var(--bs-gutter-x) * 0.5);
                };
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .partner-area {
        .container-fluid {
            max-width: 1920px;
        }
        &.style-two {
            .container-fluid {
                max-width: 1920px;
                padding: {
                    left: 110px;
                    right: 110px;
                };
            }
        }
    }

}
