<div
    class="services-area ptb-100 dotted-bg"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span
                class="sub-title"
                [ngClass]="{'main-color': router.url === '/index-3'}"
            >
                OUR SERVICES
            </span>
            <h2>We provide creative solutions for your business</h2>
            <p>At Inizia, we simplify your digital world. Custom web and mobile solutions, unique designs, and smart marketing – all tailored to your needs.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div
                        class="icon"
                        [ngClass]="{'main-color': router.url === '/index-3'}"
                    >
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h4><a routerLink="/services">Software Development</a></h4>
                    <h6><a routerLink="/services">website/mobile applications</a></h6>
                    <p>Imagine a website that truly resonates with
                        your brand—whether starting from scratch
                        or enhancing your existing app.
                        Our approach fully exploits the potential
                        of custom development, bringing your
                        unique vision to life.</p>
                    <a routerLink="/services" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div
                        class="icon"
                        [ngClass]="{'main-color': router.url === '/index-3'}"
                    >
                        <i class="flaticon-ux"></i>
                    </div>
                    <h4><a routerLink="/services">Design</a></h4>
                    <h6><a routerLink="/services">ui/ux design & graphic design</a></h6>
                    <p>We blend art and technology to create
                        stunning designs that not only look amazing
                        but feel right. Every pixel is placed with
                        purpose, enhancing your user’s experience
                        and setting your brand apart.</p>
                    <a routerLink="/services" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div
                        class="icon"
                        [ngClass]="{'main-color': router.url === '/index-3'}"
                    >
                        <i class="flaticon-digital-marketing"></i>
                    </div>
                    <h4><a routerLink="/services">Digital Marketing</a></h4>
                    <h6><a routerLink="/services">SEO, Meta Ads & Google Ads</a></h6>
                    <p>Imagine your business topping search
                        engine results and captivating audiences
                        on social media. We dive deep into SEO
                        and digital marketing strategies,
                        customizing every campaign to lift
                        your visibility and engage your
                        audience effectively.</p>
                    <a routerLink="/services" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div
                        class="icon"
                        [ngClass]="{'main-color': router.url === '/index-3'}"
                    >
                        <i class="flaticon-web-optimization"></i>
                    </div>
                    <h4><a routerLink="/services">Application Maintenance</a></h4>
                    <h6><a routerLink="/services">website/mobile applications</a></h6>
                    <p>Think of us as your behind-the-scenes
                        digital crew, dedicated to keeping your
                        applications sleek and smooth.
                        From regular updates to managing your
                        domains and emails, we handle it all so
                        you can focus on what
                        you do best—running your business.</p>
                    <a routerLink="/services" class="link-btn">View More <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
        <div class="view-all-btn text-center">
            <a routerLink="/services" class="default-btn">View All Services <i class="flaticon-right-up"></i></a>
        </div>
    </div>
    <div
        class="shape3"
        [ngClass]="{'d-none': router.url === '/index-3'}"
    >
        <img src="assets/images/shape/shape3.png" alt="shape3">
    </div>
    <div
        class="shape4"
        [ngClass]="{'d-none': router.url === '/index-3'}"
    >
        <img src="assets/images/shape/shape4.png" alt="shape4">
    </div>
</div>
