<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Recent Projects</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Projects</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Projects -->
<div class="projects-area ptb-100 dotted-bg">
    <div class="container">
        <div class="row justify-content-center extra-margin">
            <div class="project-big-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project9.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Digital Marketing</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-small-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project10.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Business Card</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-small-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project11.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Product Engineering</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-big-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project12.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Illustrator Graphics</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-big-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project1.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Digital Marketing</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-small-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project2.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Product Engineering</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-small-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project3.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Company Branding</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
            <div class="project-big-box">
                <div class="single-project-box">
                    <a routerLink="/project-details" class="image d-block">
                        <img src="assets/images/projects/project4.jpg" alt="project-image">
                    </a>
                    <h4><a routerLink="/project-details">Illustrations</a></h4>
                    <a routerLink="/project-details" class="link-btn"><i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
        <div class="view-all-btn text-center mt-0">
            <a routerLink="/projects" class="default-btn">Load More Projects <i class="flaticon-right-up"></i></a>
        </div>
    </div>
</div>

<app-why-choose-us></app-why-choose-us>