<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Services</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Services -->
<div class="services-area pt-4 pb-4 pt-lg-5 pb-lg-5 dotted-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-coding"></i>
                    </div>
                    <h4>Mobile App Development</h4>
                    <p>Turn your app idea into reality with Inizia. We design and develop custom mobile applications that deliver smooth, fast, and engaging experiences across all devices. Our apps are built with your business goals and user needs in mind, ensuring they perform excellently on both fronts.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-web-programming"></i>
                    </div>
                    <h4>Website Development</h4>
                    <p>Whether you’re launching a new website or revamping an existing one, our team builds solutions that are both innovative and effective. We focus on creating websites that are not only visually appealing but also optimized for performance and user experience.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-ux-design"></i>
                    </div>
                    <h4>UI/UX Design</h4>
                    <p>Our UI/UX design services are all about creating intuitive and captivating digital experiences. Integrated with strategic copywriting, we ensure that every aspect of the user journey is thoughtfully crafted to keep engagement high and interactions meaningful.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-curve"></i>
                    </div>
                    <h4>Graphics Design</h4>
                    <p>Let your brand speak volumes through its visuals. Our graphic design services cover everything from logo creation to complete brand identity kits, ensuring your company stands out with a cohesive and impressive visual strategy.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-seo-1"></i>
                    </div>
                    <h4>SEO</h4>
                    <p>Boost your search engine visibility and drive more organic traffic with our SEO services. We craft content that not only engages but also performs, using the latest SEO strategies to ensure your business ranks well and reaches your target audience.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-digital-marketing"></i>
                    </div>
                    <h4>Digital Marketing (PPC)</h4>
                    <p>From social media campaigns to email marketing and beyond, our digital marketing services are designed to increase your online presence and connect you with your audience. Effective copywriting backs every campaign, making every message clear and persuasive.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-analytic-graph"></i>
                    </div>
                    <h4>Application Maintenance</h4>
                    <p>Regular maintenance is crucial to the ongoing success and security of your digital products. Our team provides comprehensive software maintenance, from routine updates to fixing critical issues, ensuring your digital infrastructure remains robust and reliable.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-service-box mb-25">
                    <div class="icon">
                        <i class="flaticon-target"></i>
                    </div>
                    <h4>Domain/Email Set-up</h4>
                    <p>Start your online journey on the right foot with our domain and email domain setup services. We handle all the technicalities, ensuring your domains are properly configured, secure, and reflective of your professional image.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-partner></app-partner>
<app-work-process></app-work-process>
<app-faq></app-faq>
