<!-- Page Banner -->
<div class="page-banner-area dotted-bg bg-fbecd7">
    <div class="container">
        <div class="page-banner-content">
            <h1>Blog Right Sidebar</h1>
            <ul class="meta">
                <li><a routerLink="/">Home</a></li>
                <li>Blog Right Sidebar</li>
            </ul>
        </div>
    </div>
    <div class="shape1"><img src="assets/images/shape/shape1.png" alt="shape1"></div>
    <div class="shape2"><img src="assets/images/shape/shape2.png" alt="shape2"></div>
</div>

<!-- Blog Right Sidebar -->
<div class="blog-area ptb-100 dotted-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog1.jpg" alt="blog-image">
                                <div class="date">
                                    18
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">The Meta Pro is not the big fail it's made out to be</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog2.jpg" alt="blog-image">
                                <div class="date">
                                    17
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">The most important tech terms you need to know</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog3.jpg" alt="blog-image">
                                <div class="date">
                                    16
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">Intel's new Arc graphics will blow your mind</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog4.jpg" alt="blog-image">
                                <div class="date">
                                    15
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">How to use marketing automation tools effectively</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog5.jpg" alt="blog-image">
                                <div class="date">
                                    14
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">4 great examples of user-generated content</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog6.jpg" alt="blog-image">
                                <div class="date">
                                    13
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">4 key content marketing trends for 2024</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog7.jpg" alt="blog-image">
                                <div class="date">
                                    12
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">7 tips on getting to know your customers better</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-blog-item mb-25">
                            <a routerLink="/blog-details" class="image d-block">
                                <img src="assets/images/blog/blog8.jpg" alt="blog-image">
                                <div class="date">
                                    11
                                    <span>Feb</span>
                                </div>
                            </a>
                            <div class="content">
                                <h4><a routerLink="/blog-details">How and why you should use Google Ads for video</a></h4>
                                <p>Lorem ipsum dolor sit amet consectetur ut. Rutrum pretium pulvinar ut nec. Ato sits consequat blandit gravida.</p>
                                <a routerLink="/blog-details" class="link-btn">Read More <i class="flaticon-right-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="pagination-area">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" routerLink="/blog-right-sidebar">
                            <i class="flaticon-chevron-1"></i>
                        </a></li>
                        <li class="page-item"><a class="page-link active" routerLink="/blog-right-sidebar">1</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/blog-right-sidebar">2</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/blog-right-sidebar">3</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/blog-right-sidebar">4</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/blog-right-sidebar">
                            <i class="flaticon-chevron"></i>
                        </a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 col-md-12">
                <app-widget-sidebar></app-widget-sidebar>
            </div>
        </div>
    </div>
</div>