<!-- Default Feedback Section -->
<div
    class="feedback-area bg-color dotted-bg bg-fbecd7"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="feedback-inner-box dotted-bg bg-beige">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Feedback Section for Home Demo - 2 -->
<div
    class="feedback-area dotted-bg pb-100 bg-fbecd7 d-none"
    [ngClass]="{'d-block': router.url === '/index-2'}"
>
    <div class="container">
        <div class="feedback-inner-box dotted-bg bg-f7ffe2">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Feedback Section for Home Demo - 3 -->
<div
    class="feedback-area dotted-bg d-none"
    [ngClass]="{'d-block': router.url === '/index-3'}"
>
    <div class="container">
        <div class="feedback-inner-box dotted-bg bg-f4d9d3">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur. Mauris condimentum donec pulvinar dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu. Amet sed egestas ultricies feugiat morbi risus enim. Vitae nulla neque a pellentesque nisl. Sit mollis feugiat viverra aliquam eleifend vitae amet. Enim dolor malesuada leo gravida varius risus. Turpis mi pretium viverra.</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO Envato</span>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Feedback Section for Home Demo - 4 -->
<div
    class="feedback-area dotted-bg pt-100 pb-75 bg-f8f8f8 d-none"
    [ngClass]="{'d-block': router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <h2>At the heart of a successful business strategy</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Rutrum pretium pulvinar ut nec. Ac consequat blandit gravida turpis a risus pharetra amet molestie eget porta.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Jasika Alloy</h4>
                        <span>CTO at Envato</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>James Andy</h4>
                        <span>CTO at EnvyTheme</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-feedback-box mb-25">
                    <i class="flaticon-quotes"></i>
                    <p>Lorem ipsum dolor sit amet consectetur am. Mauris condimentum donec pulvinar Mauris dignissim. Nulla vel et fames a aliquam nibh tellus blandit at. Purus egestas gravida ac venenatis quam nullam urna arcu..</p>
                    <div class="client-info">
                        <h4>Alina Smith</h4>
                        <span>CTO at ThemeForest</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
