<div
    class="projects-area ptb-100 dotted-bg d-none"
    [ngClass]="{'d-none': router.url === '/index-2' || router.url === '/index-3' || router.url === '/index-4'}"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">RECENT PROJECTS</span>
            <h2>See What We’ve Been Building</h2>
            <p>
                Take a look at some of the products we’ve crafted together with incredible founders.
                They brought the vision and domain expertise — we turned it into scalable, working software.
            </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="projects-slider">
            <owl-carousel-o [options]="projectsSlides">
                <ng-template carouselSlide>
                    <div class="single-project-item mb-25">
                        <a routerLink="/projects" class="d-block image">
                            <img src="assets/images/projects/design.jpg" alt="project-image">
                        </a>
                        <div class="content">
                            <h6><a routerLink="/projects">Web Apps</a></h6>
                            <a routerLink="/projects" class="link-btn"><i class="flaticon-right-up"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-project-item mb-25">
                        <a routerLink="/projects" class="d-block image">
                            <img src="assets/images/projects/dev.jpg" alt="project-image">
                        </a>
                        <div class="content">
                            <h6><a routerLink="/projects">Mobile Apps</a></h6>
                            <a routerLink="/projects" class="link-btn"><i class="flaticon-right-up"></i></a>
                        </div>
                    </div>
                </ng-template>
<!--                <ng-template carouselSlide>-->
<!--                    <div class="single-project-item mb-25">-->
<!--                        <a routerLink="/projects" class="d-block image">-->
<!--                            <img src="assets/images/projects/seo.jpg" alt="project-image">-->
<!--                        </a>-->
<!--                        <div class="content">-->
<!--                            <h6><a routerLink="/projects">SEO</a></h6>-->
<!--                            <a routerLink="/projects" class="link-btn"><i class="flaticon-right-up"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ng-template>-->
                <ng-template carouselSlide>
                    <div class="single-project-item mb-25">
                        <a routerLink="/projects" class="d-block image">
                            <img src="../../../../assets/images/projects/uiux.jpg" alt="project-image">
                        </a>
                        <div class="content">
                            <h6><a routerLink="/projects">UI/UX Design</a></h6>
                            <a routerLink="/projects" class="link-btn"><i class="flaticon-right-up"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
