<div class="expertise-area pb-100 dotted-bg pt-75">
    <div class="container">
        <div class="row align-items-center pb-75">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1 mb-4 mb-lg-0">
                <div class="expertise-content">
                    <span class="sub-title">WHY INIZIA</span>
                    <h2>Why choose us</h2>
                    <p>Too many agencies operate in silos. Designers focus on design, engineers focus on code, and business focuses on KPIs. When this happens, user needs get lost, decisions lack context and progress slows down.
                        At Inizia, we believe great products happen when everyone is aligned from the start. We bring design, engineering and business thinking into one continuous, collaborative process where everyone shares the same goal.
                        We run experiments early, share user insights openly and keep your users at the centre of every decision. We work as one team, alongside you.
                        We are your product team.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="expertise-image">
                    <img src="assets/images/why-us.jpg" alt="expertise-image">
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-75 pb-75">
            <div class="col-lg-6 col-md-12 order-1 order-lg-1 mb-4 mb-lg-0">
                <div class="imagine-image">
                    <img src="assets/images/mission.jpg" alt="expertise-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="expertise-content">
                    <span class="sub-title">JUST IMAGINE</span>
                    <h2>What we work towards</h2>
                    <p>Imagine building a product your users genuinely need, because you understood them from the start.

                        Imagine a team that works together towards the same outcome. A team that experiments, learns and improves continuously throughout the journey.

                        People are asking for your product. Early users sharing it because it solves something real for them. Feedback that fuels progress, clarity that guides decisions and momentum that feels natural.

                        That is what working with Inizia feels like. Real traction, grounded in real problems, built with care, curiosity and collaboration.</p>
                </div>
                <div class="view-all-btn">
                    <a routerLink="/contact" class="third-default-btn mt-5">SOUNDS GOOD <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
