<div class="expertise-area pb-100 dotted-bg pt-75">
    <div class="container">
        <div class="row align-items-center pb-75">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1 mb-4 mb-lg-0">
                <div class="expertise-content">
                    <span class="sub-title">WHY INIZIA</span>
                    <h2>Why choose us</h2>
                    <p>Choose Inizia because you deserve a partner, not just a provider. Traditional agencies often focus on one aspect of digital services, creating silos that can hinder your growth. At Inizia, we believe in a holistic approach where software, design, and marketing are not isolated services but part of a unified strategy to boost your online presence and operational efficiency.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="expertise-image">
                    <img src="assets/images/why-us.jpg" alt="expertise-image">
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-75 pb-75">
            <div class="col-lg-6 col-md-12 order-1 order-lg-1 mb-4 mb-lg-0">
                <div class="imagine-image">
                    <img src="assets/images/mission.jpg" alt="expertise-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="expertise-content">
                    <span class="sub-title">JUST IMAGINE</span>
                    <h2>What we work towards</h2>
                    <p>Imagine what your business could achieve with a partner dedicated to your growth and equipped to handle every aspect of your digital transformation. We invite you to experience this journey with us. Get in touch today, and let’s create something extraordinary together.</p>
                </div>
                <div class="view-all-btn">
                    <a routerLink="/contact" class="third-default-btn mt-5">SOUNDS GOOD <i class="flaticon-right-up"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
